VITE_GOOGLE_CLIENT_ID=
VITE_AUTHORIZED_EMAIL=
VITE_SHEETS_ID=
VITE_SHEETS_TAB=Invoices
VITE_COSTS_TAB=Costs
VITE_COMPANY_TAB=Company
VITE_DEFAULT_CURRENCY=EUR
VITE_EUR_TO_AED=4.0
VITE_APP_VERSION=0.0.0